ErrorDocument 400 /errormessages/error400.php
ErrorDocument 401 /errormessages/error401.php
ErrorDocument 403 /errormessages/error403.php
ErrorDocument 404 /errormessages/error404.php
ErrorDocument 500 /errormessages/error500.html
Options -Indexes
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:phslegion.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?phslegion.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:phslegion.com
