@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Open+Sans:wght@300&display=swap');

@font-face {
	font-family: "Praetorem";
	src: url(fonts/prae.TTF);
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #FFF5E6;
	color: #7F2122;
	font-size: 17px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: 'Praetorem';
	color: #9e0000;
	font-size: 60px;
	padding-bottom: .25em;
	margin: 0;
	text-align: center;
}

hr {
	border-color: black;
	margin-top: 1em;
	margin-bottom: 1em;
}

#upperName {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #9e0000;
	color: #FFD700;
	font-weight: bold;
	text-align: right;
	font-size: 150px;
	width: 100%;
	height: 300px;
	padding-top: 50px;
	padding-right: 10vw;
	font-family: 'Praetorem';
	box-sizing: border-box; /* this basically makes the width the exact screen size despite the padding property */
}

#links {
	font-size: 20px;
	padding-right: 0;
	color: #FFD700;
	float: right;
}

#link {
	color: #FFD700;
	margin-left: 60px;
	font-weight: normal;
}

#link:hover {
	color: white;
}

#main {
	position: relative;
	z-index: 10;
	margin-top: 300px;
	background-color: #FFD700;
	width: 100%;
	padding: 60px;
	box-sizing: border-box;
}

#subPage {
	position: relative;
	z-index: 11;
	padding: 10vw;
	box-sizing: border-box;
	font-size: 25px;
	background-color: #FFF5E6;
}

#leftHeader {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 10px;
}

#description {
	padding-bottom: 600px;
}

#footer {
	font-family: "Archivo Narrow";
	font-weight: 500;
	font-size: 20px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10vw;
	background-color: #9e0000;
	color: #FFD700;
	box-sizing: border-box;
}

#teamName {
	color: #FFD700;
	float: left;
}

#logo {
	padding-right: 50px;
	height: 150px;
	vertical-align: text-bottom;
	float: left;
}

#nameHolder {
	float: right;
}

#subName {
	font-size: 20px;
	padding-right: 0;
	color: #FFD700;
	float: right;
	font-weight: normal;
}


@media (max-width: 850px) { /*for small screens*/
	#upperName {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #9e0000;
		color: #FFD700;
		font-weight: bold;
		text-align: right;
		font-size: 23vw;
		width: 100%;
		height: 50vw;
		padding-top: 50px;
		padding-right: 10vw;
		font-family: 'Praetorem';
		box-sizing: border-box; /* this basically makes the width the exact screen size despite the padding property */
	}
	
	#logo {
		padding-left: 50px;
		height: 150px;
		vertical-align: text-bottom;
		float: left;
		display: none;
	}
	
    #main {
		position: relative;
		z-index: 10;
		margin-top: 50vw;
		background-color: #FFD700;
		width: 100%;
		padding: 60px;
		box-sizing: border-box;
	}
	
	

	#subPage {
		position: relative;
		z-index: 10;
		padding: 10vw;
		box-sizing: border-box;
		font-size: 25px;
		background-color: #FFF5E6;
	}
}